.Portfolio{
    width: 100%;
   
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size:36px;
    color: rgb(44, 62, 80);
    text-align: center;
    margin-top:40px;
    text-transform: uppercase;
  
    


}
.Portfolio h2 { 
  text-transform: uppercase; 
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
  font-size: 50px; 
  font-weight: 700; 
  padding-top: 80px; 
  margin-bottom: 40px; 


}
.Portfolio img
{
  height:257px;
  width:356px;
  border-radius:8px;
}
.images{
    width:30%;
    
}

.Portfolioimg{
    margin-top:50px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    
    row-gap:30px;
    column-gap:10px;
     
}


@media (max-width:745px) {
.Portfolio h2 {

    font-size:45px;

}


}

@media (max-width:490px) {
  .Portfolio h2 {

    font-size:35px;

}



}

@media (max-width:445px) {
.Portfolio h2 {

    font-size:30px;

}


}


